
/*              *
 *    HEADER    *
 *              */

#header {
    text-transform: uppercase;
}

#banner {
    height: 60px;
    background-color: darkblue;
    width: 100%;
    margin-top: 75px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    font-variant-caps: normal;
    color: #c0bdc7;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}

#banner h4 {
    font-family: Ubuntu, sans-serif;
}

#banner a {
    color: #c0bdc7;
    text-decoration: none;
}

#nav-dropdown a {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}


/*              *
 *    INDEX     *
 *              */

#fence-types {
    margin-top: 50px;
}

.fence-list > .card {
    opacity: .5;
}
.fence-list > .card:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.fence-list > .col-md-8 {
    margin-bottom: 20px;
}

.row p {
    margin-top: 35px;
    font-size: large;
    font-family: Serif;
}

#why-us {
    margin-top: 30px;
}

#why-us h4 {
    text-transform: uppercase;
}